VITE_CONTRACT_ID=CDLZFC3SYJYDZT7K67VZ75HPJVIEUVNIXF47ZG2FB2RMQQVU2HHGCNIH
VITE_STELLAR_NETWORK=testnet
VITE_HORIZON_URL=https://horizon-testnet.stellar.org
VITE_SOROBAN_RPC_URL=https://soroban-testnet.stellar.org
VITE_POSTHOG_KEY=phc_your_posthog_key_here
VITE_POSTHOG_HOST=https://us.i.posthog.com
VITE_ADMIN_PASSWORD=escrowgig-admin
